#editable.editable
  input(type="text" on-enter="save()" on-esc="cancel()" ng-model="value" ng-show="editMode")
  .btn-group
    button.text-success.btn.btn-default.fa.fa-check-circle(ng-click="save()" ng-show="editMode")
    button.text-danger.btn.btn-default.fa.fa-minus-circle(ng-click="cancel()" ng-show="editMode")
  span(ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false")
    span.large-title(ng-hide="editMode" ng-click="edit()") {{value}}
    a(ng-show="showEdit" ng-click="edit()") edit
