#editable{
  &.editable{
    max-width: 100%;
    position: relative;
    display: inline-block;
  }
  .btn-group{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;

    font-size: 20px;
  }
  .btn{
    padding: 2px 4px;
  }
  .text-success{
    color: $green;
  }
  .text-danger{
    color: $red;
  }
  .edit-field{
    position: relative;
    &:hover{
      outline: 1px solid #4D90FE;
    }
  }
  .inline-flex{
    display: inline-flex;
    max-width: 100%;
  }
}
