$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
@import 'compass/css3';

// values
$red: #F35F4d;
$green: #42db81;
$blue: #24a9ff;
$orange:#FFA500;
$text:#555;

.large-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-none{
  background: none;
  border: none;
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'main/main.scss';
@import 'projects/modal-project/modal-project.scss';
@import 'projects/projects.scss';
@import 'directives/editable/editable.scss';
@import 'modal/modal.scss';
@import 'project/project.scss';
// endinjector
