.item
  .b-img
    img(ng-src="{{project.preview_metadata[0]}}" )
  .b-info
    .p-name(ng-show='project.name')
      .long-title {{project.name}}
    .b-btn
      a.btn-open.glyphicon.glyphicon-zoom-in(href="/projects/{{project.id}}")
