.btn-close(ng-click="cancel()")
  i.fa.fa-times-circle
.modal-header(ng-show = "project.name")
  h3.modal-title(editable-value="project.name" editable-key="'name'" on-save="update(key, value)")
.modal-body
  .cover.thumbnail
    img(ng-src="{{ project.preview_metadata[2]}}")
  .row
    div(ng-class="project.description!=''? 'col-md-6':'col-md-12'")
      ul.list-group
        li.list-group-item
          strong Avtor:
          .pull-right( editable-value="project.display_name" editable-key="'display_name'" on-save="update(key, value)")
        li.list-group-item
          strong Likes:
          span.pull-right(editable-value="project.likes" editable-key="'likes'" on-save="update(key, value)")
        li.list-group-item
          strong Scenes:
          span.pull-right(editable-value="project.scenes" editable-key="'scenes'" on-save="update(key, value)")

    .col-md-6(ng-show="project.description!=''")
      .description {{project.description}}
.modal-footer
  .text-center {{ project.copyright }}
