.item
  .b-img
    img(src="images/project1.jpg" )
  .b-info
    .p-name project1
    .b-btn
      .btn-link.glyphicon.glyphicon-picture
      .btn-open.glyphicon.glyphicon-zoom-in(data-type="design")
